@model Lemonstacks.Websites.Models.DataModels

@if (ViewBag.Msg != "")
{
<script type="text/javascript">alert('เราจะติดต่อกลับท่านภายในไม่เกิน 24 ชั่วโมง ขอบคุณสำหรับข้อมูล')</script>
}

<!-- =======Section Slide ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-147396 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-102186 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Main Slider-->
                    <section class="tc main-slider">
                        <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
                            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                                    <!-- START REVOLUTION SLIDER 5.4.8.1 auto mode -->
                                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
                                        <ul>
                                            <!-- SLIDE  -->
                                            <li data-index="rs-15" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" class="li-responsive"
                                                data-masterspeed="300" data-thumb="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/06/v1-1-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1=""
                                                data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                <!-- MAIN IMAGE -->
                                                <!-- LAYERS -->
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-caption   tp-resizeme tp-caption-1"
                                                     id="slide-15-layer-1"
                                                     data-x="['left','left','left','left']" data-hoffset="['30']"
                                                     data-y="['top','top','top','top']" data-voffset="['170']"
                                                     data-fontsize="['62']"
                                                     data-width="500px"
                                                     data-height="none"
                                                     data-whitespace="nowrap"
                                                     data-type="text"
                                                     data-responsive_offset="on"
                                                     data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
                                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                                     data-paddingtop="[0,0,0,0]"
                                                     data-paddingright="[0,0,0,0]"
                                                     data-paddingbottom="[0,0,0,0]"
                                                     data-paddingleft="[0,0,0,0]"
                                                     style="z-index: 5; white-space: nowrap; font-size: 572px; line-height: 70px; color:var(--lemonstack-secondary-color); letter-spacing: 0px;font-family:var(--lemonstack-font-family-secondary);">
                                                    <div class="big-title">
                                                        LEMON <br />STACK
                                                    </div>
                                                </div>

                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-caption   tp-resizeme tp-caption-2"
                                                     id="slide-15-layer-2"
                                                     data-x="['left','left','left','left']" data-hoffset="['30']"
                                                     data-y="['top','top','top','top']" data-voffset="['330']"
                                                     data-fontsize="['20']"
                                                     data-lineheight="['22','22','27','25']"
                                                     data-width="350px"
                                                     data-height="none"
                                                     data-whitespace="nowrap"
                                                     data-type="text"
                                                     data-responsive_offset="on"
                                                     data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
                                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                                     data-paddingtop="[0,0,0,0]"
                                                     data-paddingright="[0,0,0,0]"
                                                     data-paddingbottom="[0,0,0,0]"
                                                     data-paddingleft="[0,0,0,0]"
                                                     style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px;color:var(--lemonstack-secondary-color); letter-spacing: 0px;font-family:var(--lemonstack-font-family-secondary);">
                                                    <div class="slide-content left-slide">
                                                        <div class="text">เปลี่ยนแบรนด์ของคุณให้มีชีวิตบนโลกออนไลน์ <br />เพิ่มเป้าหมายและต่อยอดธุรกิจของคุณ</div>
                                                    </div>
                                                </div>

                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-caption   tp-resizeme tp-caption-3"
                                                     id="slide-15-layer-3"
                                                     data-x="['right']" data-hoffset="['-10']"
                                                     data-y="['top']" data-voffset="['30']"
                                                     data-fontsize="['20','20','20','26']"
                                                     data-class=""
                                                     data-width="none"
                                                     data-height="800px"
                                                     data-whitespace="nowrap"
                                                     data-type="text"
                                                     data-responsive_offset="on"
                                                     data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
                                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                                     data-paddingtop="[0,0,0,0]"
                                                     data-paddingright="[0,0,0,0]"
                                                     data-paddingbottom="[0,0,0,0]"
                                                     data-paddingleft="[0,0,0,0]"
                                                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                                                    <div class="slide-content right-slide">
                                                        <img src="~/images/banner/Banner1.png" alt="" title="Home Page 01" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <script type="text/javascript">
                                        if (setREVStartSize !== undefined) setREVStartSize(
                                            { c: '#rev_slider_4_1', responsiveLevels: [1240, 1024, 778, 480], gridwidth: [1240, 1024, 778, 480], gridheight: [820, 768, 760, 720], sliderLayout: 'auto' });

                                        var revapi4,
                                            tpj;
                                        (function () {
                                            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();
                                            function onLoad() {
                                                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                                                if (tpj("#rev_slider_4_1").revolution == undefined) {
                                                    revslider_showDoubleJqueryError("#rev_slider_4_1");
                                                } else {
                                                    revapi4 = tpj("#rev_slider_4_1").show().revolution({
                                                        sliderType: "standard",
                                                        jsFileLocation: "//wp4.ourwpdemo.com/crystalowp/wp-content/plugins/revslider/public/assets/js/",
                                                        sliderLayout: "auto",
                                                        dottedOverlay: "none",
                                                        delay: 9500,

                                                        responsiveLevels: [1240, 1024, 778, 480],
                                                        visibilityLevels: [1240, 1024, 778, 480],
                                                        gridwidth: [1240, 1024, 778, 480],
                                                        gridheight: [820, 768, 760, 720],
                                                        lazyType: "none",
                                                        shadow: 0,
                                                        spinner: "spinner0",
                                                        stopLoop: "off",
                                                        stopAfterLoops: -1,
                                                        stopAtSlide: -1,
                                                        shuffle: "off",
                                                        autoHeight: "off",
                                                        disableProgressBar: "on",
                                                        hideThumbsOnMobile: "off",
                                                        hideSliderAtLimit: 0,
                                                        hideCaptionAtLimit: 0,
                                                        hideAllCaptionAtLilmit: 0,
                                                        debugMode: false,
                                                        fallbacks: {
                                                            simplifyAll: "off",
                                                            nextSlideOnWindowFocus: "off",
                                                            disableFocusListener: false,
                                                        }
                                                    });
                                                }; /* END OF revapi call */

                                            }; /* END OF ON LOAD FUNCTION */
                                        }()); /* END OF WRAPPING FUNCTION */
                                    </script>
                                </div><!-- END REVOLUTION SLIDER -->
                            </div>
                        </div>
                    </section>
                    <!--End Main Slider-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Topic ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-172866 kc_row ">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-790673 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">

                    <!--Start Highlights Area-->
                    <section class="highlights-area">
                        <div class="container">
                            <div class="row">

                                <!--Start single highlight box-->
                                <div class="col-xl-3 col-lg-3">
                                    <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="3500ms">
                                        <div class="icon-holder">
                                            <div class="img-box">
                                            </div>
                                        </div>
                                        <div class="inner-content">
                                            <div class="text">
                                                <h3>โฆษณา และ SEO</h3>
                                                <p>วางโครงสร้างรากฐาน<br />โปรแกรมทั้งภายในและภาย<br />นอกเว็บไซต์เพื่อเพิ่มประสิทธิ<br />ภาพการติดอันดับบน Google<br />และ Search Engine อื่นๆ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single highlight box-->
                                <!--Start single highlight box-->
                                <div class="col-xl-3 col-lg-3">
                                    <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="4000ms">
                                        <div class="icon-holder">
                                            <div class="img-box-1">
                                            </div>
                                        </div>
                                        <div class="inner-content">
                                            <div class="text">
                                                <h3>ออกแบบ UX/UI</h3>
                                                <p>ออกแบบ Flow และการแสดง<br />ผลของเว็บไซต์หรือแอป<br />พลิเคชันต่างๆ ก่อนนำไป<br />พัฒนาเป็น Product จริง</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single highlight box-->
                                <!--Start single highlight box-->
                                <div class="col-xl-3 col-lg-3">
                                    <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="4500ms">
                                        <div class="icon-holder">
                                            <div class="img-box-2">
                                            </div>
                                        </div>
                                        <div class="inner-content">
                                            <div class="text">
                                                <h3>สร้างแบรนด์</h3>
                                                <p>ออกแบบรูปแบบแบรนด์ที่เป็น <br />เอกลักษณ์เพื่อนำไปใช้ในงาน <br />ต่างๆ เพื่อสร้างภาพจำแบรนด์ <br />รวมถึง Media ทั้งรูปแบบ <br />วิดีโอและกราฟฟิก</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single highlight box-->
                                <!--Start single highlight box-->
                                <div class="col-xl-3 col-lg-3">
                                    <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="5000ms">
                                        <div class="icon-holder">
                                            <div class="img-box-3">
                                            </div>
                                        </div>
                                        <div class="inner-content">
                                            <div class="text">
                                                <h3>พัฒนาเว็บไซต์</h3>
                                                <p>พัฒนาระบบจาก <br />Technology <br />ที่เลือกออกมาเป็นผลิตภัณฑ์ <br />ที่สามารถนำไปใช้งานได้</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single highlight box-->

                            </div>
                        </div>
                    </section>
                    <!--End Highlights Area-->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section About ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-529011 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-729863 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Start about area-->
                    <section class="about-area">
                        <img src="~/images/media/_ractangle_about2.png" class="about_layer-right" />
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="about-image-box">
                                        <div class="inner-box  wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                                            <img src="~/images/media/_about1.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="about-text  wow fadeInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                                        <div class="sec-title">
                                            <div class="title">About Us</div>
                                        </div>
                                        <div class="inner-content">
                                            <div class="text">
                                                <p>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lemon Stack (บริษัท เลมอน สแต็ก จำกัด) เราคือ Digital Creative Agency ก่อตั้งขึ้นมาจากทีมนักพัฒนาเว็บไซต์ (Website Developer) และทีม SEO ซึ่งมุ่งเน้นการทำการตลาดออนไลน์ด้วยการ ใช้งาน Search Engine นอกจากนี้บริษัท Lemon Stack ยังสามารถ<br />
                                                    รับงานได้หลากหลายรูปแบบตั้งแต่งานการจัดการ Events จนไปถึง การพัฒนาระบบออนไลน์เช่น Website, Application ต่างๆ ด้วย องค์ความรู้ที่ทันสมัย
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End about Area-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section What we do ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-329344 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-681455 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">

                    <!--Start Working Area-->
                    <section class=" working-area">
                        <div class="container">
                            <div class="sec-title with-text max-width text-center wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1200ms">
                                <div class="title">What we do?</div>
                                <p class="bottom-text">
                                    Lemon Stack เรารับงานแบบ One stop service โดยหากลูกค้าต้องการ Go Online หรือ เพิ่มอัตราการเติบโตของธุรกิจด้วย Technology ใหม่ๆ
                                    เราคือคำตอบให้กับคุณ เพียงแค่คุณเสนอไอเดียและความต้องการในมุมมองทางธุรกิจของคุณ Lemonstack จะจัดการให้คุณตั้งแต่การวางแผนออกแบบต่างๆจนถึงการพัฒนาและการขยายฐานลูกค้า เพื่อให้มีประสิทธิภาพสูงที่สุด
                                </p>
                            </div>

                            <div class="row">
                                <div class="whatdo-items-carousel owl-carousel owl-theme">
                                    <!--Start Single Testimonial Item-->
                                    <div class="col-xl-10 col-lg-10  wow fadeInDown" data-wow-delay="0ms">
                                        <div class="single-testimonial-item text-center">
                                            <div class="quote-icon">
                                                <div class="img-box wow zoomIn" data-wow-delay="550ms" data-wow-duration="1500ms">
                                                    <img width="100" height="100" src="~/images/media/_what_icon1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                                                </div>
                                            </div>
                                            <div class="inner-content">
                                                <div class="client-info">
                                                    <h3>Design</h3>
                                                </div>
                                                <div class="text-box">
                                                    <p>เราออกแบบ UI & UX ที่ เหมาะสมให้กับ Branding ของคุณ ทั้งหมดขึ้นอยู่กับว่า คุณต้องการสร้างเว็บไซต์ที่ เหมาะกับกลุ่มลูกค้าประเภทไหน</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-lg-10  wow fadeInDown" data-wow-delay="0ms">
                                        <div class="single-testimonial-item text-center">
                                            <div class="quote-icon-1">
                                                <div class="img-box wow zoomIn" data-wow-delay="550ms" data-wow-duration="1500ms">
                                                    <img width="100" height="100" src="~/images/media/_what_icon2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                                                </div>
                                            </div>
                                            <div class="inner-content">
                                                <div class="client-info">
                                                    <h3>Development </h3>
                                                </div>
                                                <div class="text-box">
                                                    <p>Lemon Stack มีทีมงาน Engineers หลากหลายแขนง เพื่อพัฒนาระบบอย่างครบ วงจรตรงตาม Spec ที่คุณ ต้องการจนถึงขั้นตอน Deploy งานขึ้นระบบ</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-lg-10  wow fadeInDown" data-wow-delay="0ms">
                                        <div class="single-testimonial-item text-center">
                                            <div class="quote-icon">
                                                <div class="img-box wow zoomIn" data-wow-delay="550ms" data-wow-duration="1500ms">
                                                    <img width="100" height="100" src="~/images/media/_what_icon3.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                                                </div>
                                            </div>
                                            <div class="inner-content">
                                                <div class="client-info">
                                                    <h3>Consult</h3>
                                                </div>
                                                <div class="text-box">
                                                    <p>แม้จะจบ Process ของการ พัฒนาแล้ว เรายังแนะนำวิธีการ ไปให้ถึงเป้าหมาย ไม่ว่าจะเป็น การทำ SEO และการสร้าง ตัวตนบนโลกออนไลน์ เราจะ ไม่ทิ้งคุณไปไหนถ้าคุณต้องการ</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Testimonial Item-->
                            </div>
                        </div>
                    </section>
                    <!--End Working Area-->


                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Technology ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-486330 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-949965 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Start Brand area-->
                    <section class=" brand-area">
                        <div class="container">
                            <div class="sec-title text-center">
                                <div class="title">Technology we use</div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <ul class="brand-items-carousel owl-carousel owl-theme">

                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech  wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech1.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech2.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech3.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech4.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech5.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech6.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech7.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech8.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech9.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item  single-brand-item-tech wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/media/_tech10.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!--End Brand area-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Products ===-->
<section class="kc-elm kc-css-221078 kc_row">
    <div class="kc-row-container  kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-552014  kc_column">
                <div class="kc-col-container">
                    <!--Start Single Service Area-->
                    <section class=" single-service-area eight">
                        <div class="container products">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="additional-information-box">

                                        <div class="inner-content">
                                            <div class="row">
                                                <div class="col-xl-4 col-sm-12">
                                                    <div class="title">
                                                        <h2>Products</h2>
                                                    </div>
                                                    <div class="additional-info-content-box">
                                                        <div class="accordion-box">
                                                            <!--Start single accordion box-->
                                                            <div class="accordion accordion-block">
                                                                <div class="accord-btn active "><h4>โฆษณา และ SEO</h4></div>
                                                                <div class="accord-content  collapsed">
                                                                    <p>วางโครงสร้างรากฐาน โปรแกรมทั้งภายในและภาย นอกเว็บไซต์เพื่อเพิ่มประสิทธิ ภาพการติดอันดับบน Google และ Search Engine อื่นๆ</p>
                                                                </div>
                                                            </div>
                                                            <!--End single accordion box-->
                                                            <!--Start single accordion box-->
                                                            <div class="accordion accordion-block">
                                                                <div class="accord-btn"><h4>อกกแบบ UX/UI</h4></div>
                                                                <div class="accord-content ">
                                                                    <p>ออกแบบ Flow และการแสดง ผลของเว็บไซต์หรือแอป พลิเคชันต่างๆ ก่อนนำไป พัฒนาเป็น Product จริง</p>
                                                                </div>
                                                            </div>
                                                            <!--End single accordion box-->
                                                            <!--Start single accordion box-->
                                                            <div class="accordion accordion-block">
                                                                <div class="accord-btn  "><h4>สร้างแบรนด์</h4></div>
                                                                <div class="accord-content  ">
                                                                    <p>ออกแบบรูปแบบแบรนด์ที่เป็น เอกลักษณ์เพื่อนำไปใช้ในงาน ต่างๆ เพื่อสร้างภาพจำแบรนด์ รวมถึง Media ทั้งรูปแบบ วิดีโอและกราฟฟิก</p>
                                                                </div>
                                                            </div>
                                                            <!--End single accordion box-->
                                                            <!--Start single accordion box-->
                                                            <div class="accordion accordion-block">
                                                                <div class="accord-btn  "><h4>พัฒนาเว็บไซต์</h4></div>
                                                                <div class="accord-content  ">
                                                                    <p>พัฒนาระบบจาก Technology ที่เลือกออกมาเป็นผลิตภัณฑ์ ที่สามารถนำไปใช้งานได้</p>
                                                                </div>
                                                            </div>
                                                            <!--End single accordion box-->


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-xl-8">
                                                    <div class="product-items-carousel owl-carousel owl-theme">
                                                        <div class="row">
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  single-working-box-top-right-img img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-top-right single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInUp" data-wow-delay="0ms">
                                                                <div class=" single-working-box single-working-box-bottom-left-img  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box  single-working-box-bottom-left single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInUp" data-wow-delay="0ms">
                                                                <div class=" single-working-box single-working-box-bottom-right-img  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box  single-working-box-bottom-right single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                        </div>
                                                        <div class="row">
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  single-working-box-top-right-img img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-top-right single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInUp" data-wow-delay="0ms">
                                                                <div class=" single-working-box single-working-box-bottom-left-img  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box  single-working-box-bottom-left single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-6 col-lg-6  wow fadeInUp" data-wow-delay="0ms">
                                                                <div class=" single-working-box single-working-box-bottom-right-img  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box  single-working-box-bottom-right single-working-box-text">
                                                                    <div class="text-holder">

                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="product-items-carousel-mobile owl-carousel owl-theme">
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-12 col-lg-12  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">
                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-12 col-lg-12  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">
                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-12 col-lg-12  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">
                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-12 col-lg-12  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">
                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                            <!--Start Single Working Box-->
                                                            <div class="col-xl-12 col-lg-12  wow fadeInDown" data-wow-delay="0ms">
                                                                <div class=" single-working-box  img-holder">
                                                                    <div class="inner">
                                                                        <img width="370" height="250" src="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" srcset="https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1.jpg 370w, https://wp4.ourwpdemo.com/crystalowp/wp-content/uploads/2019/05/working-1-300x203.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" />							<div class="overlay-style-one"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-working-box single-working-box-text">
                                                                    <div class="text-holder">
                                                                        <div class="outer-box">
                                                                            <div class="text">
                                                                                <p>Indignation and dislike men who are so beguiled and our the charms moment.</p>
                                                                                <h3>Product Name</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--End Single Working Box-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End Single Service Area-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Trusted ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-486330 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-949965 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Start Brand area-->
                    <section class=" brand-area">
                        <div class="container">
                            <div class="sec-title text-center">
                                <div class="title">Trusted Clients</div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <ul class="brand-items-carousel owl-carousel owl-theme">

                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor1.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor2.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor3.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor4.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor5.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor6.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor7.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor8.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor9.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor10.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                        <!--Start Single Brand Item-->
                                        <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <a href="#"><img src="~/images/vendor/_icon_verdor11.png" /></a>
                                        </li>
                                        <!--End Single Brand Item-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End Brand area-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Package ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-830413 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-296096 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Start Working Process Area-->
                    <section class=" working-process-area">
                        <div class="container package-area">
                            <div class="sec-title text-center">
                                <div class="title">Packages</div>
                            </div>
                            <div class="row">
                                <!--Start Single Working Process-->
                                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="single-working-process text-center">
                                        <div class="inner">
                                            <div class="top-box">
                                                <img src="~/images/banner/_icon2.png" />
                                            </div>
                                            <h3>Pack A</h3>
                                            <h4><strong>฿9,900 </strong> ราคาเริ่มต้น</h4>
                                            <hr />
                                            <ul>
                                                <li>
                                                    <p>หน้าเว็บไซต์มีเพียงหน้าเดียว (มีธีมกำหนด)</p>
                                                </li>
                                                <li>
                                                    <p>มี Animation Slider/Pop-Up ต่างๆ ได้ เน้น UX (User Experience)</p>
                                                </li>
                                                <li>
                                                    <p>รองรับการแสดงข้อมูลสูงสุด 4 Section ไม่รวม Banner และ Footer</p>
                                                </li>
                                                <li>
                                                    <p>มีระบบหลังบ้านของตัวเอง</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ Responsive</p>
                                                </li>
                                                <li>
                                                    <p>สามารถมีฟอร์มรับส่งข้อมูล หรือ รับส่ง อีเมลต่างๆ ได้</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ SEO พื้นฐาน</p>
                                                </li>
                                                <li>
                                                    <p>ๅServer Free 1 Year ปีถัดไปปีละ  ฿7,500</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Working Process-->
                                <!--Start Single Working Process-->
                                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="single-working-process text-center">
                                        <div class="inner">
                                            <div class="top-box-1">
                                                <img src="~/images/banner/_icon2.png" />
                                            </div>
                                            <h3>Pack B</h3>
                                            <h4><strong class="s1">฿14,900 </strong> ราคาเริ่มต้น</h4>
                                            <hr />
                                            <ul>
                                                <li>
                                                    <p>หน้าเว็บไซต์มีเพียงหน้าเดียว (มีธีมกำหนด)</p>
                                                </li>
                                                <li>
                                                    <p>มี Animation Slider/Pop-Up ต่างๆ ได้ เน้น UX (User Experience)</p>
                                                </li>
                                                <li>
                                                    <p>รองรับการแสดงข้อมูลสูงสุด 7 Section ไม่รวม Banner และ Footer</p>
                                                </li>
                                                <li>
                                                    <p>มีระบบหลังบ้านของตัวเอง</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ Responsive</p>
                                                </li>
                                                <li>
                                                    <p>สามารถมีฟอร์มรับส่งข้อมูล หรือ รับส่ง อีเมลต่างๆ ได้</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ SEO พื้นฐาน</p>
                                                </li>
                                                <li>
                                                    <p>ๅServer Free 1 Year ปีถัดไปปีละ  ฿7,500</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Working Process-->
                                <!--Start Single Working Process-->
                                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                    <div class="single-working-process text-center">
                                        <div class="inner">
                                            <div class="top-box-2">
                                                <img src="~/images/banner/_icon2.png" />
                                            </div>
                                            <h3>Pack C</h3>
                                            <h4><strong class="s2">฿19,900 </strong> ราคาเริ่มต้น</h4>
                                            <hr />
                                            <ul>
                                                <li>
                                                    <p>หน้าเว็บไซต์มีเพียงหน้าเดียว (มีธีมกำหนด)</p>
                                                </li>
                                                <li>
                                                    <p>มี Animation Slider/Pop-Up ต่างๆ ได้ เน้น UX (User Experience)</p>
                                                </li>
                                                <li>
                                                    <p>รองรับการแสดงข้อมูลสูงสุด 4 Section ไม่รวม Banner และ Footer</p>
                                                </li>
                                                <li>
                                                    <p>มีระบบหลังบ้านของตัวเอง</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ Responsive</p>
                                                </li>
                                                <li>
                                                    <p>สามารถมีฟอร์มรับส่งข้อมูล หรือ รับส่ง อีเมลต่างๆ ได้</p>
                                                </li>
                                                <li>
                                                    <p>รองรับ SEO พื้นฐาน</p>
                                                </li>
                                                <li>
                                                    <p>ๅServer Free 1 Year ปีถัดไปปีละ  ฿7,500</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Working Process-->
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <p class="footer">
                                        1 ลูกค้าไม่สามารถเลือกรูปแบบอื่นนอกเหนือจากที่บริษัท Provide ให้<br>
                                        2 การใช้งาน จะต้องใช้งาน Server ของบริษัทเท่านั้น<br>
                                        3 การจดโดเมน จะไม่รวมอยู่ในรายการ
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End Working Process Area-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =======Section Quotation ===-->
<section data-kc-fullwidth="content" class="kc-elm kc-css-681595 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-476013 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Start appointment Area-->
                    <section class=" appointment-area">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-10 col-lg-10">
                                    <div class="appointment-box wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="title-box">
                                            <h2>ขอใบเสนอราคา</h2>
                                        </div>
                                        <div class="appointment">
                                            <div class="wpcf7 no-js" id="wpcf7-f186-p5-o1" lang="en-US" dir="ltr">
                                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                                {
                                                    <div class="appointment-form">
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                <div class="single-box">
                                                                    <p>
                                                                        ชื่อผู้ติดต่อ
                                                                    </p>
                                                                     @Html.TextBoxFor(m => m.FullName, new { placeholder = "กรอกชื่อผู้ติดต่อ" ,required= ""})
                                                                    @*<input type="text" name="form_name" value="" placeholder="กรอกชื่อผู้ติดต่อ" required="" />*@
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="single-box">
                                                                    <p>
                                                                        เบอร์ติดต่อ
                                                                    </p>
                                                                     @Html.TextBoxFor(m => m.MobilePhone, new { placeholder = "กรอกเบอร์โทรศัพท์" ,required= ""})
                                                                    @*<input type="text" name="form_name" value="" placeholder="กรอกเบอร์โทรศัพท์" required="" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                <div class="single-box">
                                                                    <p>
                                                                        อีเมล
                                                                    </p>
                                                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "กรอกอีเมล" ,required= "", type="email"})

                                                                    @*<input type="email" name="form_name" value="" placeholder="กรอกอีเมล" required="" />*@
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="single-box">
                                                                    <p>
                                                                        บริษัท (ถ้ามี)
                                                                    </p>
                                                                     @Html.TextBoxFor(m => m.Company, new { placeholder = "กรอกชื่อบริษัท" })

                                                                    @*<input type="text" name="form_name" value="" placeholder="กรอกชื่อบริษัท" required="" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="single-box">
                                                                    <p>
                                                                        ข้อความรายละเอียดเพิ่มเติม
                                                                    </p>
                                                                    @Html.TextAreaFor(m => m.Detail, new { placeholder = "กรอกรายละเอียดเพิ่มเติม",rows="5",required="" })
                                                                    @*<textarea rows="5" name="form_name" value="" placeholder="กรอกรายละเอียดเพิ่มเติม" required=""></textarea>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="single-box">
                                                                    <p>
                                                                        บริการที่สนใจ
                                                                    </p>
                                                                      @Html.DropDownListFor(m => m.Service, new List<SelectListItem>
                   { new SelectListItem{Text="ใบเสนอราคา", Value="ใบเสนอราคา"},
                     new SelectListItem{Text="พัฒนาระบบ", Value="พัฒนาระบบ"}}, "กรุณาเลือกบริการ")
                                                                    @*<select>
                                                                        <option>
                                                                            เลือกบริการ
                                                                        </option>
                                                                    </select>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="message">
                                                                    <p>
                                                                        Once we have received information from the customer, we will contact you within 1 business day. <br />
                                                                        เมื่อเราได้รับข้อมูลจากลูกค้าแล้วจะทำการรีบติดต่อกลับภายใน 1 วันทำการ
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="single-box text-center">
                                                                    <button type="submit">ส่งข้อมูล</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </section>
                    <!--End appointment Area-->
                </div>
            </div>
        </div>
    </div>
</section>